
<form action="/login" method="GET">
  <legend>User Login</legend>
  <label for="email">Email</label>
  <input type="email" name="email" id="email">
  <label for="password">Password</label>
  <input type="password" name="password" id="password">
  <input type="submit" value="Login">
</form>