
<h1>Welcome, <%= @user.first_name %>!</h1>

<div class="page"></div>

<script type="text/template" id="bills-table">
  <a href="#/new" class="btn btn-primary">Add Expense</a>
  <table class="table striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Who Paid?</th>
        <th>Who Owes?</th>
        <th></th>
      </tr> 
    </thead>
    <tbody>
        {{ _.each(expenses, function(expense){ }}
          <tr>
            {{ var expense = expense.get('expense') }}
              <td>{{= expense.name }}</td>
              <td>{{= expense.category }}</td>
              <td>{{= expense.total }}</td>
              <td>{{= expense.creditor_name }}</td>
              <td>{{= expense.debtor_names }}</td>
          </tr>
        {{ }); }}
    </tbody>
  </table>
</script>