
<h1>Welcome, <%= @user.first_name %>!</h1>

<div class="page"></div>

<script type="text/template" id="bills-table">
  <a href="#/new" class="btn btn-primary">Add Expense</a>
  <table class="table striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Who Paid?</th>
        <th>Who Owes?</th>
        <th></th>
      </tr> 
    </thead>
    <tbody>
        {{ _.each(expenses, function(expense){ }}
          <tr>
            {{ var expense = expense.get('expense') }}
              <td>{{= expense.name }}</td>
              <td>{{= expense.category }}</td>
              <td>{{= expense.total }}</td>
              <td>{{= expense.creditor_name }}</td>
              <td>{{= expense.debtor_names }}</td>
          </tr>
        {{ }); }}
    </tbody>
  </table>
</script>

<script type="text/template" id="edit-expense-template">
  <div class="exepnse-form-area">
    <form class="edit-expense-form">
      <legend>Add Expense</legend>
      <label for="name">Name</label>
      <input type="text" id="name" name="name"><br>

      <label for="category">Category</label>
      <input type="text" id="category" name="category"><br>

      <label for="amount">Amount</label>
      <input type="text" id="amount" name="amount"><br>
      <label for="debtor">Who Owes?</label><br>
      {{  _.each(members, function(member){ }}
        {{ var member = member.get('user') }}
        <input type="checkbox" name="debtor" value="{{= member.id }}"> {{= member.first_name.trim() }} <br>
      {{  }); }}
      <button type="submit" class="btn">Save Expense</button>
    </form>
  </div>
</script>

